body {
	background-color: #fafafa;
}

#activities-panel {
	min-height: calc(100vh - 20vh);
	max-height: calc(100vh - 20vh);
	overflow-y: scroll;
}

#activitySearchMember {
	min-width: 52.5vh;
}

#checked-in-panel {
	margin-top: 2%!important;
}

#targetInfo {
	color: #2196f3;
	border-bottom: 2px dashed #2196f3;
	padding-bottom: 0.5em;
	text-align: center;
	font-weight: bold;
}

.null {
	color: #bebebe;
}