body {
	background-color: #fafafa;
}

#activities-panel {
	min-height: calc(100vh - 20vh);
	max-height: calc(100vh - 20vh);
	overflow-y: scroll;
}

#activitySearchMember {
	min-width: 52.5vh;
}

#checked-in-panel {
	margin-top: 2%!important;
}

#targetInfo {
	border-bottom: 1px dashed #444;
	padding-bottom: 5px; 
}